

@{
    ViewBag.Title = "Submit";
    var id = int.Parse(Context.Session.GetString("userId"));
}
<!DOCTYPE html>
<html>
<head>
    <title>Assignment List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Assignment List</h2>
        <div class="form-group">

            <div id="idUploadFile" class="alert" role="alert" style="display:none"> </div>

        </div>
        <table class="table">
            <input type="hidden" id="classid" value="@Model" />



            <tbody>
                <tr>
                    <th>Assignment Title</th>
                    <th>Your Submit</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" id="title" /></td>
                    <td><input type="file" id="fileupload" /></td>
                    <td>
                        <input type="button" value="upload" id="btnupload" />
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>

    $(function () {

        $('#btnupload').click(function () {

            //debugger;

            if ($('#fileupload').val() == '') {

                alert('Plase select file');

                return;

            }

            var formdata = new FormData();

            var file = $('#fileupload')[0];
            var classid = $('#classid').val();
            var title = $('#title').val();

            formdata.append('file', file.files[0]);
            formdata.append('classid', classid);
            formdata.append('title', title);





            $.ajax({

                url: 'https://localhost:7158/api/Material/UploadFile',

                type: 'POST',

                data: formdata,

                contentType: false,

                processData: false,
                headers: {
                    "Authorization": "Bearer @Context.Session.GetString("JWT").Replace('"', ' ').Trim().ToString()" // set the Authorization header with the auth token
                },

                success: function (d) {

                    $('#idUploadFile').addClass('alert-success').html('<strong>Success!</strong>').show();

                },

                error: function () {

                    $('#idUploadFile').addClass('alert_error').html('<strong>Failed!</strong> Error in upload');

                }

            })

        });

    });

</script>